@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: url('/image.png') repeat; /* Repeats the background image */
  background-size: 500px 500px; /* Controls the size of the repeated image */
  font-family: Arial, Helvetica, sans-serif;
}
